In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [9]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [10]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [21]:
independent=dataset[['age', 'bmi', 'children','sex_male','smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [24]:
dependent=dataset[["charges"]]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [32]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [56]:
from sklearn.model_selection import GridSearchCV 
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}

In [60]:
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\ragus\HOPES\ANACONDA 3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [65]:
re=grid.cv_results_
print=("best_parametes{}:".format(grid.best_params_))

In [66]:
print

"best_parametes{'criterion': 'mae', 'max_features': 'log2', 'splitter': 'best'}:"

In [67]:
table=pd.DataFrame.from_dict(re)

In [68]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.010015,0.000000,0.000000,0.000000,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.694393,0.456386,0.732525,0.643022,0.660125,0.637290,0.095510,3
1,0.013866,0.010241,0.000806,0.001612,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.553052,0.650774,0.631686,0.598918,0.631702,0.613226,0.034402,8
2,0.011922,0.006074,0.000604,0.001208,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.595099,0.601028,0.685006,0.633587,0.596169,0.622178,0.034452,5
3,0.009380,0.007658,0.000000,0.000000,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.567867,0.616372,0.568354,0.579989,0.534639,0.573444,0.026262,13
4,0.010603,0.003401,0.003016,0.002462,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.459801,0.595068,0.586376,0.520723,0.645476,0.561489,0.064503,15
5,0.003129,0.006258,0.000000,0.000000,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.649646,0.479344,0.652431,0.659242,0.601079,0.608348,0.067726,9
6,0.037393,0.006988,0.003734,0.006071,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.644223,0.528114,0.687531,0.582800,0.641544,0.616842,0.055477,6
7,0.032838,0.001875,0.000000,0.000000,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.686487,0.616006,0.679626,0.635690,0.607685,0.645099,0.032372,2
8,0.022388,0.007767,0.006252,0.007667,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.626608,0.335257,0.660853,0.563114,0.603848,0.557936,0.115783,16
9,0.015260,0.000494,0.006328,0.007751,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.682868,0.563235,0.533565,0.549520,0.663035,0.598445,0.061874,10
10,0.013123,0.006624,0.006759,0.008316,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.616824,0.616380,0.726854,0.703855,0.641078,0.660998,0.045853,1
11,0.012672,0.005359,0.002704,0.005409,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.652547,0.500664,0.723694,0.579434,0.626792,0.616626,0.074415,7
12,0.003130,0.006260,0.006258,0.007664,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.694182,0.491483,0.730172,0.591845,0.659235,0.633384,0.084373,4
13,0.003122,0.006245,0.003122,0.006245,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.640728,0.565978,0.644367,0.463271,0.638925,0.590654,0.070083,12
14,0.000000,0.000000,0.003125,0.006250,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.710160,0.598729,0.563420,0.244258,0.635454,0.550404,0.160615,17
15,0.009542,0.003074,0.000000,0.000000,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.651017,0.582509,0.584447,0.514039,0.517336,0.569870,0.050664,14
16,0.003130,0.006261,0.003130,0.006261,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.687375,0.610960,0.659802,0.508405,0.508366,0.594981,0.074822,11
17,0.003193,0.006387,0.006387,0.007822,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.490343,0.408857,0.662208,0.470908,0.568317,0.520127,0.087407,18

In [69]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:4
BMI:56
Children:5
Sex Male 0 or 1:5
Smoker Yes 0 or 1:3

In [70]:
Future_prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

In [71]:
print=("Future_prediction={}",format(Future_prediction))

In [72]:
print

('Future_prediction={}', '[49577.6624]')